/* h1 {
  color: red;
}

.hello {
  color: green;
}

#world {
  color: blue;
}

.box {
  height: 100px;
  width: 100px;
  background-color: red;
} */

/* :root {
  --percent: 100px;
}

.box {
  height: 0px;
  width: 50px;
  display: block;
  justify-content: center;
  align-items: center;

  &:nth-child(2) {
    background-color: orange;
  }
}

.box1 {
  background-color: red;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: blue;
  }
}

.box2 {
  margin-top: 15px;
  background-color: blue;
}

.box3 {
  height: 100px;
  width: 100px;

  padding: 30px;
  border: 2px;
  background-color: yellow;
  box-sizing: border-box;
}

.input {
  background-color: red;

  &:focus {
    background-color: blue;
  }
}

.helo {
  background-color: blue;
  accent-color: green;
  height: 2000px;
  &:hover {
    cursor: pointer;
    color: green;
  }
}

h1 {
  position: fixed;
  top: 25 px;
}

.header {
  height: 100px;
  width: 200px;
  background-color: green;
  position: fixed;
  top: 0;
} */

/* ---------------------------------------------Animation------------------------ */

/* :root {
  --percent: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-around;
  align-items: flex-end;
  height: 300px;
}

.box {
  width: 100px;
  background-color: lightblue;
  margin: 5px;
  text-align: center;
  font-weight: bold;
  height: 0;
  animation: growth ease-in 2s forwards;
}

.box:nth-child(1) {
  --percent: 150px;
  background-color: red;
}

.box:nth-child(2) {
  --percent: 200px;
  background-color: green;
}

.box:nth-child(3) {
  --percent: 30px;
  background-color: yellow;
}

@keyframes growth {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--percent);
    opacity: 1;
  }
} */

/* ---------------------------------------------BEM------------------------ */
/* 
.btn__container {
  height: 100vh;
  align-items: center;
  justify-items: center;
}

.btn {
  display: flex;

} */

.btn__container {
  display: flex;
  align-items: center; /* Căn giữa theo chiều ngang */
  justify-content: center; /* Căn giữa theo chiều dọc */
  height: 100vh; /* Chiều cao toàn màn hình */
}

.btn {
  margin-left: 5px;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 48px;
  border-radius: 50px;
  cursor: pointer;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

.btn + .btn {
  margin-left: 16px;
}

.btn--success {
  background-color: #71be34;
}
.btn--warn {
  background-color: #ffb702;
}
.btn--danger {
  background-color: #ff623d;
}
